@font-face {
  font-family: 'Roboto Thin';
  src: url('./static/roboto-font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./static/roboto-font/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./static/roboto-font/Roboto-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Roboto Bold';
  src: url('./static/roboto-font/Roboto-Bold.ttf') format('truetype');
}

li {
  font-size: 14px;
  font-style: 'Roboto Light';
}

.link {
  color: #118DF0 !important;
}

.link1 {
  color: #545454 !important;
}

/* Button WAS */

.btn-sn {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: rgba(23, 69, 105, 94%);
  color: aliceblue;
  padding: 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}


/* Card WAS */

.mycard {
  width: 18rem;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: rgba(17, 141, 240, 94%) !important;

}

/* Card WAS Text */

.descript-cardwas {
  color: #ffffff;
  font-family: 'Roboto Light';
  font-size: 14px;
  text-align: left;

}

.card-about-us {
  color: #ffffff;
  font-family: 'Roboto Light';
  font-size: 14px;
  text-align: center;

}


/* Connect With Us */

.connection {
  width: 120vh;
  height: 100%;
}

#about_us {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.details_AU {
  font-family: 'Roboto Light', cursive;
  font-size: 40px;
  position: relative;
  top: 345px;
  left: 640px;
}

/* descrip  */

.descript {
  color: #454545;
  font-size: 14px;
  text-align: left;
  font-family: 'Roboto Light';
}

/* Donors Card */

.donorscard {
  width: 18rem;
  border: 0 !important;
  border-radius: 0 !important;
}


.donor-border-image {
  border-radius: 0 !important;
}

/* footer */

.footer {
  font-size: 14px;
  color: #ffff;
  font-family: 'Roboto Light';
  text-align: start;
}

.link-tag {
  color: #b3b3b3;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Light';
}

/* Footer Header */

.element-class-footer {
  position: relative;
}

.element-class-footer:before,
.element-class:after {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.element-class-footer:before {
  top: 0;
  left: 0;
  right: 70%;
  bottom: 100%;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}


.myheader-footer {
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff;
  text-align: left;
  font-family: 'Roboto Bold';
}

/* header 1 */

.element-class {
  position: relative;
}

.element-class:before,
.element-class:after {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.element-class:before {
  top: 0;
  left: 0;
  right: 70%;
  bottom: 100%;
  border-top: 4px solid #3f3e3e;
  border-left: 4px solid #3f3e3e;
}


/* body {
  font-family: 'roboto', sans-serif;
} */


.myheader {
  font-size: 32px;
  font-weight: bold;
  color: #3f3e3e;
  text-align: left;
  font-family: 'Roboto Bold';
}

/* header 2 */

.header2 {
  font-size: 16px;
  color: #3f3e3e;
  text-align: left;
  font-family: 'Roboto Regular';
}

.myimage {
  height: 250px;
}

/* header 3 */

.header3 {
  font-size: 32px;
  font-weight: bold;
  color: #3f3e3e;
  text-align: center;
  font-family: 'Roboto Regular';
}

/* home */

#home {
  overflow-x: hidden;
}


/* nav-css */

.navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.my-water-bill-btn {
  margin-left: 1rem;
}

/* body {
font-family: 'Roboto Black', sans-serif;
} */

.my-link {
  color: #3f3e3e;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto Light', sans-serif;
}

.my-link:hover {
  color: #3cb9dc;
}

.dropdown {
  border-radius: 0;
}

.banner {
  padding: 0;
  margin: 0;
  height: 20rem;
  background-image: linear-gradient(71deg,
      rgba(58, 121, 184, 0.664) 45%,
      rgba(21, 64, 134, 0.24) 100%), url('./static/img/banner.png');
  font-family: 'Roboto Bold', sans-serif;
}

.navbar-nav .nav-link {
  padding: 10px;
  border-radius: 0;
}

.navbar-nav .dropdown-menu {
  border-radius: 0;
}

/**
  * Paragraph Component
  */

.descript {
  font-size: 14px;
  font-style: 'Roboto Thin';
}


/**
* BCWD News
*/

.myborder {
  border-radius: 0 !important;
}

.fs-5 {
  color: #3f3e3eeb !important;
  font-family: 'Roboto Bold' !important;
}

/**
  * water quality result
  */

th {
  font-family: 'Roboto Light';
  color: #454545 !important;
  font-size: small;
}

td {
  font-family: 'Roboto Light';
  color: #454545 !important;
  font-size: small;
}

.table-title {
  color: #454545 !important;
  font-family: 'Roboto Light';
  font-size: 14px;
}


/**
  * Bills and Paymenyt
  */


li {
  font-family: "Roboto Light";
  font-size: small;
}

/*
  Form
*/

.input {
  height: 4rem;
}

.notice {
  padding: 0;
  margin: 0;
  color: #C2C8D0;
  font-size: 11px;
  font-family: "Roboto Light";
}

.input::placeholder {
  color: #C2C8D0;
  font-size: small;
  font-family: "Roboto Light";

}

.label {
  color: #7B7A7A;
  font-weight: bold;
  font-size: small;
  font-family: "Roboto Regular";
}

/* Default Button */

.defaultButton {

  width: 10rem;
  height: 3rem;
  padding: 1em;
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 0 !important;
  background-color: #118DF0;
  color: aliceblue;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.card-about-us-core {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: 'Roboto Light';
  font-size: 14px;
  text-align: left;

}

.card-title {
  font-size: 20px;
  color: white !important;
  text-align: center;
  font-family: 'Roboto Bold';
}

.card-title-purpose {
  font-size: 20px;
  color: white !important;
  text-align: left;
  font-family: 'Roboto Bold';
}

#about-purpose {
  height: 23rem;
  background-color: #206DAB;
  margin-bottom: 20rem;
}

.aboutus-image {
  border-radius: 100% !important;
  width: 33rem;
  height: 27rem;
}

@media screen and (max-width: 576px) {
  .aboutus-image {
    display: none;
  }

  #about-purpose {
    height: 18rem;
    margin-bottom: 10rem;
  }

  .card-title {
    font-size: 18px !important;
  }

  .card-about-us-core {

    font-size: 14px !important;
    text-align: left;

  }
}

@media screen and (max-width: 768px) {
  .aboutus-image {
    width: 20rem !important;
    height: 20rem !important;
  }

  #about-purpose {
    height: 18rem;
    margin-bottom: 8rem;
  }

  .card-title {
    font-size: 16px !important;
  }

  .card-about-us-core {

    font-size: 12px !important;
    text-align: left;

  }
}

@media only screen and (max-width: 992px) {
  .aboutus-image {
    width: 24rem !important;
    height: 24rem !important;
  }

  #about-purpose {
    margin-bottom: 15rem;
  }

  .card-title {
    font-size: 18px;
  }

  .card-about-us-core {

    font-size: 15px;
    text-align: left;

  }
}

@media screen and (max-width: 1220px) {
  .aboutus-image {
    width: 30rem !important;
    height: 30rem !important;
  }

  #about-purpose {
    margin-bottom: 14rem;
  }

  .card-title {
    font-size: 20px;
  }

  .card-about-us-core {

    font-size: 14px;
    text-align: left;

  }
}


@media screen and (max-width: 1440px) {
  .aboutus-image {
    width: 32rem;
    height: 32rem;
  }

  #about-purpose {
    margin-bottom: 14rem;
  }

  .card-title {
    font-size: 22px;
  }

  .card-about-us-core {

    font-size: 16px;
    text-align: left;

  }
}


/*
  Goals
*/

.goals {
  padding: 1rem;
  font-size: small;
  font-family: "Roboto Light";
  text-align: start;
}

.btn-goals {
  border: none !important;
  background-color: rgba(17, 141, 240, 44%) !important;
  height: 4rem !important;
}

.font {
  font-family: "Roboto Regular";
}

.mytext {
  cursor: pointer;
  background-color: #318CE7;
  width: 200px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mytext:hover {
  background-color: #81b1e2;

}

.faqs-list {
  color: gray;
  font-size: medium;
  font-family: "Roboto Regular";
}

body {
  margin-top: 20px;
}

.section_padding_130 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.faq_area {
  position: relative;
  z-index: 1;
  background-color: #f5f5ff;
}

.faq-accordian {
  position: relative;
  z-index: 1;
}

.faq-accordian .card {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.faq-accordian .card:last-child {
  margin-bottom: 0;
}

.faq-accordian .card .card-header {
  background-color: #ffffff;
  padding: 0;
  border-bottom-color: #ebebeb;
}

.faq-accordian .card .card-header h6 {
  cursor: pointer;
  padding: 1.75rem 2rem;
  color: #3f43fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.faq-accordian .card .card-header h6 span {
  font-size: 1.5rem;
}

.faq-accordian .card .card-header h6.collapsed {
  color: #070a57;
}

.faq-accordian .card .card-header h6.collapsed span {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.faq-accordian .card .card-body {
  padding: 1.75rem 2rem;
}

.faq-accordian .card .card-body p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
  .support-button p {
    font-size: 14px;
  }
}

.support-button i {
  color: #3f43fd;
  font-size: 1.25rem;
}

@media only screen and (max-width: 575px) {
  .support-button i {
    font-size: 1rem;
  }
}

.support-button a {
  text-transform: capitalize;
  color: #2ecc71;
}

@media only screen and (max-width: 575px) {
  .support-button a {
    font-size: 13px;
  }
}


/*
  dropdown
*/

.mydropdown {
  color: #363636;
  font-family: "Roboto Light";
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

.mydropdown::after {
  content: ".";
}

.mydropdown::first-letter {
  text-transform: uppercase;
}

/*
  Auth
*/

#login {
  color: white;
  background-image: linear-gradient(rgba(23, 69, 105, 0.65), rgba(23, 69, 105, 0.65)), url("./static/img/authbg.png");
  width: 100%;
  height: 100vh;
  text-align: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

#login input {
  height: 3rem;
  width: 25rem;
}

.btn-auth {
  font-size: 0.7rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #118DF0;
  color: aliceblue;
  padding: 8px 30px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}


.auth-a {
  font-size: 14px !important;
  color: #fcfcfc !important;
}

.auth-a-a {
  font-size: 15px !important;
  font-family: "Roboto Regular" !important;
  color: #d6e7f5 !important;
}

.auth-a:hover {
  color: #63b2f3af !important;
}


.btn-auth:hover {
  background-color: #63b2f3af;
}